<div class="respuesta">
    {{formLogin.value | json}}
 </div>
 <br>
  <div class="container">
     <div class="formulario">
        <form [formGroup]="formLogin" (submit)="send()">
         <h1>Registro Usuario</h1>
            <div class="my-5">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" id="nombre" formControlName="nombre" class="form-control">
            </div>
            <div class="my-5">
                <label for="dni" class="form-label">DNI:</label>
                <input type="number" id="dni" formControlName="DNI" class="form-control" >
            </div>
            
            <div class="my-5">
             <label for="select">Estado Civil.</label>
             <select class="form-select" (change)="chageestado()" name="select" id="select" formControlName="estado" aria-label="Default select example">
                 <option value="ninguno" selected>Ninguno </option>
                 <option value="soltero">Soltero</option>
                 <option value="casado">Casado</option>
                 <option value="viuda">Viudo</option>
                 <option value="conviviente">Conviviente</option>
                 
               </select>
            </div>
            <div class="my-5 py-1 px-3 text-white bg-blue-500 rounded">
                <button type="submit" class="boton" [disabled]="formLogin.invalid">Send</button>
            </div> 
        </form>
    </div>
    <br>
    <div class="cont-texto container-2">
        <h1>Formulario de Registro</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">nombre</th>
                <th scope="col">apellido</th>
                <th scope="col">carrera</th>
                <th scope="col">Eliminar</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nom of datos">
               <td>{{nom.nombre2}}</td>
               <td>{{nom.apellido}}</td>
               <td>{{nom.carrera}}</td>
               <td><button class="btn btn-primary" type="submit" (click)="eliminar()">eliminar</button></td>
              </tr>
            </tbody>
          </table>
        <br>
        <form action="row g-3">  
            <form class="row g-3">
                <div class="col-md-6">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre2" #nombre>
                </div>
                <br>
                <div class="col-md-6">
                  <label for="apellido" class="form-label">Apellido</label>
                  <input type="text" class="form-control" id="apellido" #apellido >
                </div>
                <br>
                <div class="col-md-6">
                  <label for="carrera" class="form-label">Carrera</label>
                  <input type="text" class="form-control" id="carrera" #carrera >
                </div>
            
                <div class="col-12">
                  <button type="submit" class="btn btn-info" (click)="registrar(nombre.value,apellido.value,carrera.value)">Agregar datos</button>
                </div>
              </form>
        </form>
    </div>
    
      
    
      




 

